<!DOCTYPE html>
{% load static %}

<html>
    <head>
    <title>About</title>
    <style>
        body {
            background-color: darkslategrey;
            color: white;
            font-family: Arial, sans-serif;
        }
        .images{
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }
    </style>
</head>
<body>        
    <h1>Rango says...</h1>
    <div>
        here is the about page.<br>
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        <h3><a href="/rango/">Index</a></h3>
    </div>
    <div class="images">
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>

</body>
</html>